<div class="row">


<% @bloom.each do |info| %>
	<div class="col-sm-4 col-xs-6">
		<div class="rowConfig">
	<% img = info.at_css('.thumbnailImage') %><br>
	<img src="<%= img.attribute("src") %>"><br>
	<%=	info.at_css('.shortDescription').text %><br>
	<%= info.at_css('.prices').text %><br>	




<%= form_tag( '/comparison/moreInfo/compare', method: "get") do %>
<%= hidden_field_tag(:price, "#{info.at_css('.prices').text}")  %>

<%= hidden_field_tag(:description, "#{info.at_css('.shortDescription').text}" )%>
<%= hidden_field_tag(:img, "#{ img.attribute("src") }") %>
<%= hidden_field_tag(:store_id, "#{@store_id}") %>
<button type:submit class='btn btn-large'>Compare</button>
<% end %>










  	
	<!-- Modal Button -->
			<button class="btn btn-info btn-sm" id="modal-id" data-toggle="modal" data-target="#myModal_<%= @bloom.index(info)%>">
  					Product Info
			</button>

	<!-- Modal -->
			<div class="modal fade" id="myModal_<%= @bloom.index(info) %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  				<div class="modal-dialog">
   					<div class="modal-content">
     				    <div class="modal-header">
      					  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      					 	 <h4 class="modal-title" id="myModalLabel"><%= info.at_css('.shortDescription').text %><br></h4>
     					</div>
    <!--Modal Body -->
     		 <div class="modal-body">
       			<img src="<%= img.attribute("src") %>"><br>
     		 </div>
    <!-- Modal Bottom -->
    			  			<div class="modal-footer">
      	 					 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
   				 	    	</div>
   		   		    </div>
  				</div>
			</div>
		</div><!-- ending row div -->
	</div>

	<% end %>

</div><!-- end container -->