<div class=".showRow">

  <% if @store_id == '1' %>
   <%= render partial: "bloomies" %>
  <% elsif @store_id == '2' %>
    <%= render partial: "macys" %>
  <% elsif @store_id == '3' %>
   <%= render partial: "nordstrom" %>
  <% elsif @store_id == '4' %>
   <%= render partial: 'barneys' %>
  <% elsif @store_id == '5' %>
    <%= render partial: "saks" %>
	<% end %>

</div>

